NEXT_PUBLIC_TEMPLATE_CLIENT_ID=b128e98dd6b7cb134ed03d6a2e95ded8

# Basescan API Key für Polygon-Transaktionen
# Beantrage einen kostenlosen API-Key auf https://polygonscan.com/apis
NEXT_PUBLIC_BASESCAN_API_KEY=KM73YF9R69Q9DWWZQ5VM5M8QHHX5Z7VPDW